.card{
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 350px;
  height: fit-content;
  
  
  margin-bottom: 1rem;
 
 padding: 10px;
 border-radius: 20px;
 aspect-ratio: 1/1;
 box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}


.card button{
  height: 35px;
  width: 35px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 40%;
  right: 4%;
  
}
.card p{
  text-align: start;
  margin-top: 10px;
  line-height: 1.3rem;
  /* color: white; */
}