.card{
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 350px;
  height: 400px;
  
  
  margin-bottom: 1rem;
 
 padding: 10px;
 border-radius: 20px;
 
 box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.card button{
  height: 25px;
  width: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 49%;
  right: 2%;
  
}
.card p{
  text-align: start;
  margin-top: 10px;
  line-height: 1.3rem;
}