.btns{
  margin-top: 4rem;
  margin-bottom: 0.8rem;
  text-align: center;
  padding: 1rem;
   margin-left: auto;
  margin-right: auto; 
  max-width: 1200px; 

}
.btn{
  margin-right: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: aqua;
  transition: 0.5s ease;
  cursor: pointer;
  border: none;
}
.btn:hover{
  background-color: rgba(0, 132, 255, 0.326);
}