*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  
}


.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.nav nav{
  
  text-align: center;
  background-color: blueviolet ;
  color: white;
  padding: 1rem;

}
.btns{
  margin-top: 4rem;
  margin-bottom: 0.8rem;
  text-align: center;
  padding: 1rem;
   margin-left: auto;
  margin-right: auto; 
  max-width: 1200px; 

}
.btn{
  margin-right: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: aqua;
  transition: 0.5s ease;
  cursor: pointer;
  border: none;
}
.btn:hover{
  background-color: rgba(0, 132, 255, 0.326);
}

.card-container{
  overflow: hidden;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
  gap: 2rem;
  margin-bottom: 2rem;
  
  
 
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 350px;
  height: 400px;
  
  
  margin-bottom: 1rem;
 
 padding: 10px;
 border-radius: 20px;
 
 box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}


.card button{
  height: 25px;
  width: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 49%;
  right: 2%;
  
}
.card p{
  text-align: start;
  margin-top: 10px;
  line-height: 1.3rem;
}

